body{
    background-color:#20374be3;

    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    min-height: 99dvh;
    /* flex-wrap: wrap; */
    /* gap: 20px; */
    /* justify-content: space-around; */
  
    
}
header{
    background-color: #333;
    color: white;
    padding: 1px;
    display: flex;
    justify-self: center;
    align-items:center;
    justify-content: space-between;
    width: 100%;
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    padding: 0 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header :hover{
    color: #fab117;
}
h1{
    color: #fab117;
    background-color: #d6f5ef;
}
p{
    color: #fff;
    font-size: large;
}
nav ul{
    margin: 0;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: flex-end;
    
    

}
nav ul li{
    display: inline;
    margin: 0 15px;
    list-style: none;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
main{
    flex: 1;
    padding: 1px;
    width: 100%;

}
.images img{
    width: 200px;
    height: auto;
    margin: 0.5px;
}
.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
footer{
    background-color:#333;
    height: 50px;
    color: white;
    width: 100%;
    height: auto;
    /* padding: 20px; */
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;  
    bottom: 0; 
    left: 0; 
    z-index: 10;

}
footer img{
    width: 10%;
    height: auto;
    margin-left: 45%;

   
    /* padding: 15px; */
    
}
/* .logo img{
    padding: 10px;
    width: 50px;
    height: auto;
} */
.logo img{
display:flex;
justify-content: center;
align-items: center;
width:60px;
height: 60px;
background-color: aliceblue;
text-decoration: none;
margin:  0 20px;
}
/* ---------------------------------------stylesheet--------------------------------------- */


.article-container {
    display: flex;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    max-width: 800px;
    height: auto;
   
   
}

.article-image {
    width: 50%;
    object-fit: cover;
}

.article-text {
    padding: 20px;
    width: 50%;
}

.article-text h1 {
    margin-top: 0;
}

.article-text p {
    line-height: 1.6;
    color: #333;
}


.flexcontainer {

    width: 100%;
    background-color: rgb(223, 235, 136);
    display: flex;
    gap: 7px;

}

/* ----------justify content ----------- */
.justify {

    margin-top: 20px;
    width: 100%;
    background-color: rgb(223, 235, 136);
    display: flex;
    gap: 10px;
    justify-content: space-between;

    /* justify-content: space-between;
    justify-content: space-evenly; */

}

/* ----------------- fiftyfifty------------------------ */
.fiftyfifty {
    margin-top: 10px;
    width: 100%;
    background-color: rgb(223, 235, 136);
    display: flex;
    gap: 7px;

}

/* gilt für ein div so es in der class fiftyfifty steht  */
.fiftyfifty div {
    background-color: brown;
    /* flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 80px; */
    flex: 1;

}

.fiftyfifty p {
    color: rgb(152, 88, 149);
}


/* --------------einszuzwei------------- */

.einzuzwei {

    margin-top: 10px;
    width: 100%;
    background-color: rgb(223, 235, 136);
    display: flex;
    gap: 7px;
}

.links {
    flex: 1;
}

.rechts {
    flex: 8;
}

.meinstyle {
    margin-top: 10px;
    width: 100%;
    background-color: rgb(27, 31, 4);
    display: flex;
    gap: 50px;

}

/* '-------------------------------------------------------' */
box-sizing {
    border: 0;
}

body {
    margin: 0%;
    font-family: Arial;
}

.header1 {
    text-align: center;
    padding: 32px;
}

.row {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */

.eins {
    margin: 10px;
    background-color: black;
    padding: 10px;

}

/* ---------------------------------------------23---- */
.aussen {
    background-color: rgb(205, 126, 23);
}

.flexen {
    background-color: #fab117;
    display: flex;
    padding: 2px;
    gap: 7px;

}

.bild img {
    width: 100%;
    height: auto;
}

.bild {
    background-color: #fab117;
    flex: 50%;
    border: 2px solid silver;
}

.text {
    /* flex: 50%; */
    flex: 2;
    background-color: #deeaea;
    padding: 5px;
    color: #384d5f;

}
.text p{
    color: #333;
    background-color: #f8f6f0;
}

/* -------------section zweiartikel------------ */
.zweiartikel {
    display: flex;
    gap: 7px;
}

.zweiartikel .flexen {
    flex-direction: column;

}

/* *{-------------section dreiArtikel------------
    margin: 0;
} */

/* img {
    width: 100%;
    height: auto;
}
.dreiArtiktel{
    display: flex;
    padding: 11px;
    gap: 11px;
    border: 2px solid silver;
} */
.sonne {
    width: 300px;
    height: 200px;
    border: 2px solid silver;
}

.sonne img {
    width: 300px;
    height: 200px;
    object-fit: contain;
    object-position: 50%;

}

.maxwidth {
    width: 800px;
    height: 200px;

}

.maxwidth img {
    /* mit max-width wird das bild nicht über seine eigene grösse hinus skaliert */
    max-width: 100%;
    height: auto;
}

.flexen1 {
    width: 300px;
    height: 300px;
    border: 2px solid silver;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-end;
    /*vertikalAchse*/
    align-items: center;
    /*horizontalachse*/
}

.flexen1 h4 {
    margin: 0;
    background-color: rgb(141, 159, 159);
    /* margin-top: -100px; */
}

/* --------------------24052024----------- */
.flexen {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
}

.klassenname div {
    flex: 1;
}

.klassenname .eins {
    flex: 1;
}

.klassenname .zwei {
    flex: 2;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

/* ------------24052024---------- */
footer {
    background-color: rgb(90, 108, 131);
    padding: 10px;

}

header1 {
    display: flex;
    border: 1px solid black;
    /* justify-content: flex-start; */
    gap: 20px;
}



.nav {
    display: flex;
    justify-content: flex-end;
    flex: 2;
    gap: 20px;
    padding: 20px;
}

.nav p:hover {
    color: #1711d7;
    cursor: pointer;
    font-weight: bolder;
}

.slider {
    background-image: url("../img/_a448b3aa-5af4-458b-b29f-2cce620546d2.jpg");
    background-size: cover;
    width: 90vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pragraph {
    color: aliceblue;
    font-size: xx-large;
    background-color: #4d4a4a99;
}

.Logo {
    padding: 10px;
    color: rgb(189, 37, 37);

}

/* .Bild {

    padding: 10px;
    border: 5px solid rgb(7, 7, 7);


} */

.article1 {
    padding: 10px;
    border: 2px solid salmon;
    display: flexbox;

}

.pragraph {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 10px 0;
}

.coloums {
    background-color: rgb(90, 108, 131);
    display: flex;
    justify-content: space-around;
    font-size: small;
}

.p1 {
    background-color: rgb(90, 108, 131);
}

.p2 {
    background-color: rgb(255, 92, 4);
}

.p3 {
    background-color: rgb(90, 108, 131);
}
button {
    margin: 5px;
    background-color: rgb(195, 202, 196);
    padding: 4px;
    font-style: 20px italic rgb(209, 38, 38);
    border: 2px solid black;
    border-radius: 12px;

}

video {
    background-color: #fab2172e;
    width: 100vw;
    height: 50vw;
    display: flex;
    margin: 0;
    justify-content: center;
    padding: 10px;
}