:root {
    --primary-color: #0f6558;
    --dark-background: #121212;
    --light-background:  #171717;
    --text-color: antiquewhite;
    --text-secondary: #ddd;
    --padding-small: 1em;
    --padding-medium: 4em;
    --padding-large: 10em;
    --gap-large: 1em;
    --gap-large: 2em;
    --font-size-base: 1rem;
    --transition-duration: 0.3s;
    --font-primary:Arial, Helvetica, sans-serif;
    --font-size-large: 2.5rem;
    --font-size-medium: 2rem;
    --font-size-small: 1.2rem;
    --font-size-smaller: 0.9rem;
    --border-radius: 10px;
    --shadow-color: rgba(0, 0 , 0, 0.2);
    --shadow-strong: rgba(0, 0 , 0, 0.8);

}
html {
    scroll-behavior: smooth;
}
body, h1, h2, p, ul, li, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


body {
    
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    /* background-color: aqua; */
    /* font-family:Arial, Helvetica, sans-serif; */
    font-family: var(--font-primary);
    line-height: 1.6;
    /* background-color: #121212; */
    background-color: var(--dark-background);
    /* color: antiquewhite; */
    color: var(--text-color);
}
.container{
    max-width: 1180px;
}
header{
    background-color: #363636;
    /* padding: 1em; */
    max-width: 1180px ;
    width: 100dvw;
    position:fixed;
    z-index: 99;
}

nav {
    width: 100%;
    padding: var(--padding-small);
    display: flex;
    justify-content: center;
    /* gap: 10em; */
    gap: var(--gap-large);
    position: relative;

    
}

.nav-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3px;
    transition: ease .1s;
}
.nav-item:hover{
    cursor: pointer;
    transform: scale(1.1);
    
}
.nav-item-title{
    display: block;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    /* gap: 10em; */
    gap: var(--gap-large);
}



nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    /* font-size: 1rem; */
    font-size: var(--font-size-base);
    transition: white var(--transition-duration) ease ;
}
nav :hover {
    color: var(--primary-color);

}
/* nav ul li a:focus {
    color: var(--primary-color);
} */

.home{
    background: url(../img/istockphoto-1221837116-612x612.jpg) no-repeat center center/cover;
    padding: var(--padding-large) var(--padding-small);
    text-align: center;
    color: black;
}


.home-text p{
    font-size: var(--font-size-small);
    max-width: 600px;
    margin: 0 auto;
 }
 

.hero {
    background: url(../img/istockphoto-1221837116-612x612.jpg) no-repeat center center/cover;
    padding: var(--padding-large) var(--padding-small);
    text-align: center;
    position: relative;
    color: var(--text-color);
}
.hero:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(126, 151, 170, 0.597);
}
.hero .hero-text {
    position: relative;
    z-index: 1;

}
.hero h1{
    font-size:  var(--font-size-large) ;
    margin-bottom: 0.5rem;
}
.hero p {
    font-size: var(--font-size-small);
    max-width: 600px;
    margin: 0 auto;
    /*display: flex;
    font-size: var(--font-size-small);
     max-width: 480px;
    width:max-content;
    height: max-content;
    margin: auto;
    text-wrap:pretty; */
}
/* --------------Tour section-----------------------  */
.tours {
    padding: var(--padding-large) var(--padding-small);
    text-align: center;
    background: var(--light-background);
}
.tours h2{
    font-size: var(--font-size-medium);
    margin-bottom: 1em;
}
.tour-cards {
    display: flex;
    gap: var(--gap-large);
    justify-content: center;
    flex-wrap: wrap;
}
.tour-card {
    background-color: #333;
    border-radius: var(--border-radius);
    overflow: hidden;
    max-width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px var(--shadow-color);
}
.tour-card img{
    max-width: 100%;
    display: block;
    height: auto;
}
.tour-card p{
    margin: 0.5em 0;
    font-size: var(--font-size-base);
    color: var(--primary-color);
}
.tour-card span {
    display: block;
    padding: 0.5rem;
    font-size: var(--font-size-smaller);
    color: var(--text-secondary);
}
 /* ------------video-------------------  */
 .discovery {
    padding: var(--padding-medium) var(--padding-small);
    text-align: center;
    background: url(../img/worm-s-eye-view-4k-forest-q86aec8fk8x3cvyp.jpg) no-repeat center center/cover;
    position: relative;
    color: black;
    background-color: aqua;
 }
 .discovery:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(119, 123, 119, 0.172);
}
.discovery h2{
    position: relative;
    z-index: 1;
    font-size: var(--font-size-large);
    margin-bottom: 1em;
    background-color: #ded3d3a0;
    padding: var(--padding-small);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px var(--shadow-strong);
}
.video-button {
    background: var(--primary-color);
    border: none;
    padding: 1em 2em;
    color: var(--text-color);
    font-size:  var(--font-size-base);
    border-radius: 5px;
    margin-bottom: 1em;
    transition: var(--dark-background) var(--transition-duration) ease;
}
button:hover {
    cursor: pointer;
    background-color: red;
}

footer{
    background: var(--dark-background);
    text-align: center;
    padding: var(--padding-small);

}

.social-icons a {
    margin: 0  0.5em;

}

.social-icons img {
    width: 24px;
    height: 24px;
    filter: invert(1);
}
footer p {
    margin-top: 1em;
    font-size: var(--font-size-smaller);
    color: #bbb;
}
.video-promo p{
    background-color: #f8f2f2ae;
    padding: var(--padding-small);
    border: #0f6558 solid ;
    border-radius: 10px;

}
/* 
-------------responsive design------------------- */
@media (max-width: 1180px) {
    .hero h1{
        font-size:  2rem;

    }

    .hero p {
        font-size: 1rem;
    }
    .tours h2, .discovery h2 {
        font-size: 2rem;
    }
    .tour-card {
        flex-direction: column;
        align-items: center;
    }
    .tour-card {
        max-width: 100%;
        margin-bottom: var(--gap-small);
    }
}
@media (max-width: 480px) {
    .hero h1{
        font-size:  1.5rem;

    }

    .hero p {
        font-size: 0.9rem;
    }
    .tours h2, .discovery h2 {
        font-size: 2rem;
    }
    .tour-card {
        flex-direction: column;
        align-items: center;
    }
    .tour-card {
        max-width: 100%;
        margin-bottom: var(--gap-small);
    }
    .nav-item-title {
        display: none;
    }
}
