img {
    width: 30%;
}

/* abbildung oder abbildungen */
figure {
    border:1px solid black;
    background-color: lightblue;
}

figcaption {
    background-color: lightcoral;
    text-align: center;
}