body{
    font-family: 'open Sans', sans-serif;
    flex-direction: column;

    display: flex;
    margin: 20px 0;
    background-color: rgb(16, 16, 27);
    color: azure;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* --------------------------HEADER------------------------- */
.header{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    max-height: 10vh;
    justify-items: center;
   align-items: center;
  
}

.header img {
    width: 100%;
    height: 10h;
    max-height: 20vh;
}

#logo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30 vh;
    color: antiquewhite;
    position: absolute;
    background-color: rgba(36, 4, 4, 0.525);
    font-size: xx-large;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

/* ----------------------------CLOCK--------------------------- */
#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    
}
#clock-container::before{
    background-image: url(../img/world.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed ;
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0.1;

}
#clock{
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    backdrop-filter: blur(5px);
    background-color: rgba(128, 128, 128, 0.098);
    width: 100%;
   
}
#myClick{
    border: 2px solid black;
    margin: 20px;
}
#----------------------slider-------------------------------
.slider{
    position: relative;
    width: 100%;
    background-color: transparent;
    margin-top: 100px;
    overflow: hidden ;
/*     
    display: flex;
    flex-wrap: wrap;
    width: auto;
    max-height: 10vh;
    justify-items: center;
   align-items: center;
   color: red;
   background-color: aquamarine; */
}
.slide-show-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#slide-show{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.btns{
    margin: 10px;
    display: flex;
    flex-direction: row;
    gap: 180px;
}

.btn{
    width: 70px;
    font-size:xx-large;
}

.slide-show-img{
    width: 50dvw;
    height: 60dvh;
}
img.displaySlide{
    display: block;
}
/* ------------------------image with location, language and flag ----- */
.country-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.info{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50dvw;
    background-color: rgb(105, 105, 146);
}
.flag{
    width: 50px;
    height: 30px;
}
.icon{
    width:40px;
   height: 40px;

}
.info-item{
    display: flex;
    flex-direction: row;
    gap: 7px;
    justify-content: center;
    align-items: center ;
}
h6{
    font-size:medium;
}
.weather{
    width: 100%;
    margin-block: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
}
.weather-card{
    width: 400px;
    min-height: 50px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(21, 24, 147);
    padding: 20px;
}
/* ------------------ Responsive design------------------ */

@media (max-width: 560px) 
and (-webkit-device-pixel-ratio : 2){
 
    .nav-item-title{
        display:none;
    }
    .nav-item-icon{
        font-size: xx-large;
    }
    h1{
        font-size: 1.5rem;
    }

    p{
        font-size: 1rem;
    }
}

@media (max-width: 800px) 
and (-webkit-device-pixel-ratio : 2){
    h1{
        font-size: 2rem;
    }
    p{
        font-size: 1.2rem;
    }
    
}
