body{
    font-family: 'open Sans', sans-serif;
    flex-direction: column;

    display: flex;
    margin: 20px 0;
    background-color: rgb(16, 16, 27);
    color: azure;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* --------------------------HEADER------------------------- */
.header{
    display: flex;
    flex-wrap: wrap;
  
    width: auto;
    max-height: 10vh;
    justify-items: center;
   align-items: center;
  
}

.header img {
    width: 100%;
    height: 17.5vh;
    max-height: 20vh;
}

#logo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30vh;
    color: antiquewhite;
    position: absolute;
    background-color: rgba(9, 4, 47, 0.658);
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
#logo h1{
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.639), 0 6px 20px 0 rgba(237, 235, 235, 0.576);
}

/* ----------------------------CLOCK--------------------------- */
#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    
}
#clock-container::before{
    background-image: url(../img/world.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed ;
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0.1;
   

}
#clock{
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    backdrop-filter: blur(5px);
    background-color: rgba(128, 128, 128, 0.098);
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.604), 0 6px 20px 0 rgba(255, 255, 255, 0.592);
    
   
}
#myClick{
    border: 2px solid black;
    margin: 20px;
}
#----------------------slider-------------------------------
.slider{
    position: relative;
    width: 100%;
    height:  150vh;
    background-color: transparent;
    margin-top: 100px;
    overflow: hidden ;
}
.slide-show-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#slide-show{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.btns{
    margin: 10px;
    display: flex;
    flex-direction: row;
    gap: 180px;
}

.btn{
    width: 70px;
    font-size:xx-large;
    
}
.btn:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.604), 0 6px 20px 0 rgba(255, 255, 255, 0.592);
    
}



.slide-show-img{
    width: 50dvw;
    height: 60dvh;
    transition: transform 0.001s ease;
    cursor: zoom-IN;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.604), 0 6px 20px 0 rgba(255, 255, 255, 0.592);
}
img.displaySlide{
    display: block;
}
.slide-show-img:active {
    -webkit-transform: scale(2);
    transform: scale(2);
    cursor: zoom-out;
}

/* ------------------------image with location, language and flag ----- */
.country-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.info{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50dvw;
    background-color: rgba(65, 65, 67, 0.925);
}
.flag{
    width: 50px;
    height: 30px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.639), 0 6px 20px 0 rgba(237, 235, 235, 0.576);
}
.icon{
    display: flex;
    flex-direction: row;
    width:40px;
   height: 40px;

}
.info-item{
    display: flex;
    flex-direction: row;
    gap: 7px;
    justify-content: center;
    align-items: center ;
}
h6{
    font-size:medium;
}
/* ----------------weather-------------------- */
#highlight{
    background-color: rgba(40, 40, 42, 0.657);
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.639), 0 6px 20px 0 rgba(237, 235, 235, 0.576);

    
}

.weather{
    width: 100%;
    margin-block: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:40px;
}
.weather-card{
    width: 600px;
    min-height: 50px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(57, 57, 74, 0.818);
    padding: 20px;
}
#label{
    font-size: x-large;
}
#countries{
    background-color: #434350cd; /* Green */
    border: none;
  
    color: white;
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 2px 2px;
    transition-duration: 0.1s;


}
#countries:hover{
    cursor: pointer;
    background-color: #15191e;
    color: white;
  
}
#clickbtn{
  background-color: #1e4d7c; 
  border: none;
  border-radius: 4%;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
#clickbtn:hover{
    cursor: pointer;
    background-color: #15191e;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.604), 0 6px 20px 0 rgba(255, 255, 255, 0.592);
    
}
/* --------------------footer---------------------------------- */
footer{padding: 15px;
width: 100%;
background-color: rgb(19, 17, 17);
text-align: center;
padding: 15px;
}
.social-icons a {
margin: 0 0.5em;
}
.social-icons img {
width: 24px;
height: 24px;
filter: invert(1);
}
footer p {
margin-top: 1em;
font-size: large;
color: #bbb;
}

/* ------------------ Responsive design------------------ */

@media (max-width: 800px) 
and (-webkit-device-pixel-ratio : 2){
 
    .nav-item-title{
        display:none;
    }
    .nav-item-icon{
        font-size: xx-large;
    }
    h1{
        font-size: 1.5rem;
    }

    p{
        font-size: 1rem;
    }
}

@media (max-width: 1800px) 
and (-webkit-device-pixel-ratio : 2){
    h1{
        font-size: 2rem;
    }
    p{
        font-size: 1.2rem;
    }
    
}
